{% extends 'main.html' %}
{% block content %}

{% if page == 'login' %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="usename">Username:</label>
        <input type="text" name="username" placeholder="enter your name">
        <label for="usename">Password:</label>
        <input type="password" name="password" placeholder="enter your password">
        <input type="submit" value="login">
    </form>
    <p>not registered yet ? <a href="{% url 'register' %}">Register here</a></p>
</div>
{% else %}
<div>
    <form action="" method="POST">
        {% csrf_token %}   
        {{form.as_p}}     
        <input type="submit" value="Register">
    </form>
    <p>Already registered ? <a href="{% url 'login' %}">login here</a></p>
    
</div>
{% endif %}
{% endblock content %}